<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Todo</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
</head>
<body>
  <div id="app">
    <form>
      <div>
        <label for="">Title</label>
        <input v-model="form.title">
      </div>
      <div>
        <label for="">Detail</label>
        <textarea v-model="form.detail"></textarea>
      </div>
      <div>
        <button @click="addTodo">登録</button>
      </div>
    </form>
    <br>
    <table border=1>
      <th v-for="h in header">{{h}}</th>
      <tr v-for="todo in todos">
        <td v-for="col in todo">{{col}}</td>
        <td><button @click="deleteTodo(todo.id)">削除</button></td>
      </tr>
    </table>
  </div>
</body>
</html>

<script src="index.js"></script>
